# LaTeX auxiliary files
build/
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bcf
*.run.xml

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.swp